/* 
#################
#   GENERICS    #
#################
*/
.bg {
  width: 100%;
  height: 100vh;
  padding: 25px 150px;
  background-color: #d8dbd4ff;
  box-shadow: inset 0px 116px 0 0 #009688ff;
}
/* CONTAINER CARD */
.container-fluid > .row > [class*="col"] {
  height: 100%;

  border: 0.1px solid rgb(190, 190, 190);
}
.img-card {
  overflow: hidden;
  height: 60px;
  width: 60px;
  border-radius: 100px;
}
img {
  height: 100%;
}
/* 
#################
#   UTILITIS    #
#################
*/
.card-d-flax {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* CARD */
.card {
  padding: 5px;
  --bs-card-border-width: 0;
  min-height: 60px;
  border-radius: 0;
  background-color: #eaeaeaff;
}

#active-notification {
  background-color: #8edafcff;
}
/* ? SEARCH */
.input-group {
  background-color: #ffffffff;
}
.input-group > * {
  color: #b6b9bbff;
  background-color: #ffffffff;
  border-radius: 3px;
}
/* ? FRIENDS CONTAINER */
#friends-container {
  background-color: white;
  overflow-y: scroll;
}
#friends-container .card {
  border-top: 0.1px solid #eaeaeaff;
  background-color: #ffffffff;
}
#friends-container .card.active {
  background-color: #eaeaeaff;
}

/* 
#################
#  CHAT ATTIVA  #
#################
*/

/* ? MAIN CONTAINER */
#main-container .card:nth-child(2) {
  background-image: url("../img/mine.jpg");
  padding: 30px 70px;
  height: calc(100% - 130px);
  overflow-y: scroll;

  align-items: flex-start;
}

#sidebar div p:nth-child(2) {
  font-size: 12px;
  opacity: 80%;
}

#sidebar div:nth-child(3) {
  text-align: end;
  font-size: 10px;
}

.message {
  padding: 5px 15px;
  border-radius: 8px;
  max-width: 400px;
  min-width: 150px;
}
.message div:nth-child(2) {
  color: rgb(162, 162, 162);
  font-size: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.sent {
  margin-bottom: 10px;
  background-color: #d5f9baff;
  margin-left: auto;
}

.received {
  background-color: white;
}
/* 
#################
#     DEBUG     #
#################
*/
.debug [class*="col"] {
  border: 1px dashed red;
  min-height: 10px;
}
